/* @media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }
    #window-title {
        color: #fff;
    }
    .upld {
        background-color: #585757;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 5.6rem;
        height: 1.9rem;
    }
    .upld:hover {
        background-color: #424242d3;
    }
    .opts {
        background-color: #313131;
    }
    .NewWin {
        background-color: #585757;
        width: 7rem;
        height: 1.9rem;
        color: #fff;
    }
    .NewWin:hover {
        background-color: #424242d3;
    }
    .NewWin:focus {
        border: none;
        outline: none;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #cccccc;
        color: black;
    }
    #window-title {
        color: #000000;
    }
    input#upld::before {
        background-color: #616161;
        content: "Open File";
        color: #fff;
    }
} */

body {
    background: #222;
    color: #fff;
}
#window-title {
    color: #fff;
}
.upld {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
    height: 1.9rem;
}
.btns:hover {
    background-color: #424242d3;
}
.NewWin {
    background-color: #585757;
    width: 7rem;
    height: 1.9rem;
    color: #fff;
}
.NewWin:hover {
    background-color: #424242d3;
}
.NewWin:focus {
    border: none;
    outline: none;
}

/* Basic styling */

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
}


/* Styling of window frame and titlebar */

body {
    border: 0;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: 100vw;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 36px 0 0;
    overflow-y: auto;
}

#mainv {
    background: #333333;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#titlebar {
    padding: 4px;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#titlebar {
    background: transparent;
    color: #FFF;
    display: flex;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: grid;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

.maximized #window-title {
    margin-left: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background: #333333;
    border-bottom-left-radius: 6px;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

#window-controls .button {
    user-select: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

.close-button:hover {
    background: #E81123 !important;
}

.close-button:active {
    background: #F1707A !important;
}

.close-button:active .icon {
    filter: invert(1);
}

#min-button {
    grid-column: 1;
}

#max-button,
#restore-button {
    grid-column: 2;
}

.close-button {
    grid-column: 3;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}


/* Element Styling */

input#upld {
    color: transparent;
    width: 0;
    height: 0;
}

input#upld:focus {
    border: none;
    outline: none;
}

input::-webkit-file-upload-button {
    visibility: collapse;
}

div.img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87%;
    position: fixed;
}

img#prev {
    height: 79vh;
    border: none;
    outline: none;
}

.opts {
    display: flex;
    width: min-content;
    height: 100%;
    align-items: center;
    margin-top: 0;
    margin-left: -4px;
}

#prevV {
    border: none;
    outline: none;
    width: 40vw;
    height: 35vh;
    display: none;
}

.infv {
    background-color: #222;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
    height: 1.9rem;
    border-left: 1px solid #8d8d8d;
}
.infvv {
    display: none;
}

.close-buttonv {
    display: none;
}
.close-buttonvt {
    overflow: hidden !important;
    border-bottom-left-radius: 6px !important;
    overflow: hidden;
    background: #444343;
}

#window-titlev {
    grid-column: 1;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: calc(29vh + 40px);
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    user-select: none;
}

#window-titlev span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

.lastp {
    border-left: 1px solid #8d8d8d;
    overflow: hidden;
}

.lastp:hover {
    border: none !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.blastp {
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}